scitt-emulator[oidc,federation-activitypub-bovine] @ https://github.com/scitt-community/scitt-api-emulator/archive/5c0918b45661bad4ab18e8de8ecac3fc398d90e0.tar.gz
myst-parser>=1.0.0
sphinx
sphinx-rtd-theme
